body {
    background-color: rgb(93, 89, 89);
}
h1, h2 {
    text-align: center;
    width: 100%;
}
h2 {
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline;
    width: 100%;
}
a {
    color: black;
    text-decoration: underline;
}
h3 {
    font-size: xx-large;
    width: 100%;
    margin-left: 3%;
}
p {
    font-size: larger;
    margin-left: 3%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}