body {
    background-color: grey;
}
h1 {
    text-align: center;
    width: 100%;
}
h2 {
    background-color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
a {
    color: black;
}