body {
    background-color: grey;
}
h1 {
    text-align: center;
    width: 100%;
}
h2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
a {
    color: black;
}
h3 {
    font-size: xx-large;
    margin-left: 3%;
}
p {
    font-size: larger;
    margin-left: 3%;
}